@import 'theme/colors';
@import 'theme/dimensions';
@import 'theme/theme';
@import 'base/typography';
@import 'base/baseline-grid';
@import 'components/header/header';
@import 'components/footer/footer';
@import 'components/button/button';
@import 'components/nav/nav';
@import 'components/menu/menu';
@import 'components/footer/footer';
@import 'components/lazy-image/lazy-image';
@import 'components/speaker-card/speaker-card';
// @import 'vendor/icons';
html, body {
  // margin: $vertical-baseline;
  margin: 0;
  height: 100%;
  background: $dark-color;
}

.container {
  background: white;
}

* {
  box-sizing: border-box;
}

