#speakers {
  background-color: $color-gray-light; 
  position: relative;
  padding: $vertical-baseline 0;
  h3 {
    margin-top: 0;
  }

}
.speakers-bg {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#speakers-bg-gradient {
  background: linear-gradient(180deg, #{$color-gray-light}, #{transparentize($color-gray-light, 0.85)});
  padding-top: 66.7%;
}
#speakers-bg-image, {
  overflow: hidden;
  top: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url(https://res.cloudinary.com/dg1royeho/image/upload/v1500036070/DSC_0361n_desaturated_mhcrqh.jpg);
}

a.speaker-card__modal-open {
  display: block;
  text-decoration: none;
  color: inherit;
}
