extends ../../layouts/default

block content
	#error-page: .container
		h1 Internal Server Error (500)
		p Oh. Something went wrong on our server. We apologise for the inconvenience.
		img(src="/images/error.svg")
		//- p.lead Oops. Something went wrong. We would be grateful if you passed the message below to our admins at <a href="mailto:admin@poland20.com">admin@poland20.com</a>, along with some information about how you came to get the error. Thanks!
		//- h2.small #{title}
		//- p.small #{message}