extends ../layouts/default
block head
	//- meta(name="description" content="")
block content
	.container.padded
		//- h2.uppercase(name="terms-and-conditions" id="terms-and-conditions") Terms and Condtions
		//- != content.termsAndConditions
		h2.uppercase(name="privacy-policy" id="privacy-policy") Privacy Policy
		!= content.privacyPolicy