include ../../components/animated-logo/animated-logo
mixin loader
  .loader
    .loader__container
      .loader__logo
        +animated-logo(150)
      .loader__caption
        .loader__caption-cover
        h1.loader__caption-text Poland 2.0 Summit
    .loader__progress

    