mixin opengraph(title, url, image, description)
	meta(property="og:title", content=title || "Poland 2.0")
	meta(property="og:type", content="website")
	meta(property="og:description", content= description || "Poland 2.0 Summit is an annual conference tackling entrepreneurship, innovation and change across industries held at Imperial College London each autumn.")
	meta(property="og:url", content= url || "http://poland20.com")
	meta(property="og:image", content=image ||"http://res.cloudinary.com/dg1royeho/image/upload/c_scale,r_0,w_400/a_0/v1461850319/poland2.0_d4i5gs.png")

mixin canonicalUrl(url)
	link(rel="canonical" href="url")