mixin partner-modal(id, partner)
	.large.reveal.modal(id=id, data-reveal, data-animation-in="slide-fade-in", data-animation-out="slide-fade-out")
		.center(style="margin-bottom: 1.5rem")
			img(src=partner.logo.url style="max-height: 200px")
		div!= partner.description
		.center
			a.button.primary.hollow.large(href=partner.url) Visit the website
		button.button.hollow.close-button.small.secondary(data-close, aria-label="Close modal", type="button" )
			span.close-icon(aria-hidden="true")
			

