include ../nav/nav
header.header
  //- #menu-circle
  //- .circular.menu.button
  //-   i.menu-icon
  img(src="images/logo.svg", alt="Poland 2.0").logo.center
  //- +nav(nav).desktop
  //- .button.menu-button.circular
  //-   i.lnr.lnr-arrow-down

