$header-height: 5*$base-font-size;
$logo-height: 4*$base-font-size;
header.header {
  display: flex;
  height: $header-height;
  flex-direction: row;
  align-items: center;
  // children aligned to 
  padding: $container-padding;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .logo {
    // margin: 0.25*$vertical-baseline 0;
    max-height: $logo-height;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

  }

  // theme

}

// given a fixed header, add container padding
body > .container {
  padding-top: $header-height;
}

header.header .button {
  margin-bottom: 0;
}

