extends ../../layout/default/default

include ../../components/lazy-image/lazy-image

block content
  p Hello world!
  div
    p Current edition ID #{currentEdition._id}
    each category in speakerCategories
      h1= category.displayName
      each speaker in category.speakers
        //- img(src=speaker.photo.url, style="height: 25rem")
        h2=speaker.name
    
    ul
      li One
      li Two
      li Three
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in arcu dictum, faucibus eros non, dapibus dolor. Nunc facilisis ac lorem vitae blandit. Etiam eleifend nec lacus molestie semper. Vestibulum non nisl pulvinar, viverra turpis id, egestas lorem. Nunc congue nunc ante, tristique rhoncus tortor mollis id. Nam id tempus neque, a cursus leo. Integer porta vestibulum nunc, vel lobortis nulla malesuada at.
    p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque vitae dolor arcu. Ut condimentum mollis ante at elementum. Quisque facilisis malesuada velit ac tempus. Curabitur egestas feugiat orci, id hendrerit ipsum scelerisque vel. Sed eu nulla fringilla, viverra ipsum eu, blandit tellus. Vestibulum massa enim, convallis sit amet vestibulum lacinia, venenatis vel diam. Suspendisse iaculis ut eros id vestibulum. Phasellus neque nisl, luctus sit amet arcu id, tempus consequat ipsum. Pellentesque ac pharetra erat. Sed finibus at tellus malesuada pulvinar. Proin quis enim a quam auctor convallis non at risus. Vivamus porttitor mauris purus, non placerat dui ornare id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras orci quam, lobortis varius tristique sed, dapibus non sem.
    div(style="width: 400px")
      +lazyImage(
        'http://res.cloudinary.com/science-polish-perspectives/image/upload/c_scale,h_1600,w_1600/v1490535420/original_zrmpbh.png', 
        'http://res.cloudinary.com/science-polish-perspectives/image/upload/c_scale,h_32,w_32/v1490535420/original_zrmpbh.png',
        '1:1', 'scroll')(alt='This is an image')
      +lazyImage('http://res.cloudinary.com/dg1royeho/image/upload/v1474210460/porchester2_ueni9y.jpg',
        'http://res.cloudinary.com/dg1royeho/image/upload/c_scale,h_32,w_48/v1474210460/porchester2_ueni9y.jpg',
        '3:2', 'scroll')(alt='This is an image no 2')
      //- a.button Button!
      
      //- a.button.circular.icon
      //-    i.material-icons arrow_downward
      div(style='text-transform: uppercase; font-weight: 600') What's on?
      button.button.circular.icon
         i.lnr.lnr-arrow-down

         

    //- p= JSON.stringify(speakers)
