#testimonials {
  padding: $vertical-baseline 0 4*$vertical-baseline;
  background-color: $color-dark;
  background-image: radial-gradient(ellipse, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0));
  // @include angled-edge(bottom, 3deg);
  // @include angled-edge-margin(bottom, 3deg);
}
.promo-video {

}