mixin banner
  section.banner&attributes(attributes)
      block

mixin banner-image(src)
  .banner__image(style=`background-image: url(${src})`)&attributes(attributes)


mixin banner-column(role)
  .banner__col(class=`banner__col--${role}`)&attributes(attributes)
    block

mixin banner-slider
  .banner__slider
    .swiper-wrapper
      block
    .swiper-pagination  

mixin slider-lazy-banner-image(src)
  //- .banner__image.swiper-lazy(data-background=src)&attributes(attributes)
  .banner__image(style=`background-image: url(${src})`)&attributes(attributes)

mixin banner-slider-image-slide(src)
  .banner__slide.swiper-slide.banner__image-filter
    +slider-lazy-banner-image(imgTransform.limit(src, 1000))