// The maps to define ratios
// use the map as (numerator: denominator[])

$predef-ratios: (
  1 : (1,),
  3 : (2,),
  5 : (4,),
  16 : (9,),
);
$lazy-img-transition-duration: 0.3s;
$lazy-img-transition: $lazy-img-transition-duration ease-in;
$blur: 5px;


.lazy-img {
  // background: $color-dark;
  position: relative;
  overflow: hidden;
  // will have clip border radius
  z-index: 0;
  .preview, .original {
    position: absolute;
    // left: 0 - 1*$blur;
    // top: 0 - 1*$blur;
    // width: calc(100% + #{2*$blur});
    // If we can accept the edges bluring with the background color then
    // the image can have the correct
    left: 0;
    top: 0;
    width: 100%;
    will-change: opacity; // prepare the browser for opacity anim
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }
   // .preview image is the blurry placeholder that first appears on the page
   // .original image is the high-res larger image
  .preview {
    z-index: 1;
    filter: blur($blur);
  }

  .original {
    z-index: 3;
  }

  &.preview-loaded {
    .preview {
      transition: opacity $lazy-img-transition;
      opacity: 1;
      visibility: visible;
    }
  }

  &.loaded {
    .original {
      transition: opacity $lazy-img-transition;
      opacity: 1;
      visibility: visible;
    }
    .preview {
      // hide after original in view - mostly for ARIA purposes rather than visual presentation
      // because preview is covered by original anyway
      transition: visibility 0s linear $lazy-img-transition-duration;
      visibility: hidden;
    }
    .spinner-container {
      opacity: 0;

    }
  }


  &.loaded .spinner {
    transition-delay: $lazy-img-transition-duration;
    visibility: hidden;
  }

  noscript .original {
    z-index: 4;
    opacity: 1;
    visibility: visible;
  }
}


@each $numerator, $denominators in $predef-ratios {
  @each $denominator in $denominators {
    .lazy-img .ratio-#{$numerator}-to-#{$denominator} {
      // display: inline-block;
      padding-bottom: percentage($denominator/$numerator);
    }
  }
}

