

$color-primary: #E2445C;
$color-dark: #323232;
$color-gray-light: #fafafa;
$color-gray-medium: #aaa;

$color-success: green;
$color-error: red;
// header.header {
//   background: $header-background;
//   box-shadow: $header-shadow;
// }