

$color-primary: #E2445C;
$color-dark: #323232;
$color-gray-light: #f5f5f5;
$color-gray-medium: #999;
$color-gray-dark: #777;

$color-link: #217ac0;
$color-success: green;
$color-error: red;
// header.header {
//   background: $header-background;
//   box-shadow: $header-shadow;
// }