mixin nav(nav)
  nav(class!=attributes.class id!=attributes.id)
    ul.nav-list
      each link in nav
        li(class= route == link.key ? 'active' : '').nav-link
          a(href=link.route)= link.name



    