$form-border-height: 1px;
$form-border-style: $color-gray-medium $form-border-height solid;
// $form-border-style: rgba(0,0,0,0.2) 1px solid;
$field-height: 3*$vertical-baseline;
$field-padding-side: 1rem;
$field-padding: 1.5*$vertical-baseline $field-padding-side 0.5*$vertical-baseline; 
$label-top: 0.35*$vertical-baseline;
$label-bottom: 0.15*$vertical-baseline;
$label-left: $field-padding-side;
form {
  padding: 0;
}

.form fieldset {
  border: $form-border-style;
  box-shadow: $feather-shadow;
  padding: 0;
  background: white;
  margin: 0 0 $vertical-baseline 0;
}

.form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  border-top: $form-border-style;
  &:first-child {
    border-top: none;
  }

  &.form-row--right-aligned {
    justify-content: flex-end;
 }
  .button {
    width: 100%;
    @include breakpoint($tablet) {
      width: initial;
    }
    border-radius: 0;
    margin: 0;
    // margin: -1px;
  }

  .button.button--primary {
    // use box shadow to hide lines!
    box-shadow: 0px 0px 0px 1px $color-primary;
    &:hover {
      box-shadow: 0px 0px 0px 1px darken($color-primary, 5%);
    }
  }
}

.form-field {
  flex: 1 0 100%;
  position: relative;
  background: white;

  border-top: $form-border-style;
  &:first-child {
    border-top: none;
  }

  @include breakpoint($tablet) {
    border-top: none;
    border-right: $form-border-style;
    &:last-child {
      border-right: none;
    }
  }

  /* After pseudoelement for displaying errors */
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -$form-border-height;
    height: 2*$form-border-height;
    width: 100%;
    transition: transform 300ms cubic-bezier(0.77, 0, 0.175, 1);
    transform: scaleX(0);
    transform-origin: left;
    background-color: $color-error;
    z-index: 5;
  }

  &.form-field--error::after {
    transform: scaleX(1);
  }

  &.form-field__button {
    overflow: hidden;
  }

  /* Styling of the form field containers */
  p {
    color: $color-gray-medium;
    font-weight: 400;
    margin: 0.75rem 1.5rem;
  }
  input, select {
    @include sgl-heading(1);
    height: $field-height;
  }

  input, textarea, select, button {
    outline-offset: 0px;
    position: relative;
    &:focus {
      z-index: 3;
      & + label {
        z-index: 3;
      }
    }
  }

  input, textarea, select {
    z-index: 2;
    background: transparent;
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    border: none;
    padding: $field-padding;
    &[required] + label .form-field__field-name::after {
      content: '*';
    }
    // error 
  }
  // textarea height is whatever it needs to be



  label {
    z-index: 1;
    position: absolute;
    display: inline-block;
    top: $label-top;
    left: $label-left;
    color: $color-gray-medium;
    font-weight: 400;
    // transition: transform 250ms cubic-bezier(0.77, 0, 0.175, 1);
    // transform-origin: top left;
  }
  // make the labels large on textarea and inputs

  button {
    display: inline-block;
  }
  
  // input, textarea {
  //   + label {
  //     $label-translate-amount: 0.5rem;
  //     transform: scale(1.3125) translateY(#{$label-translate-amount});
  //   }
  //   &:focus + label {
  //     transform: initial;
  //   }
  //   &.input-not-empty + label {
  //     transform: initial;
  //   }
  //   .form-field--error & {
  //     transform: initial;
  //   }
  // }

  // Design-specific tweaks to select dropdown


  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    position: relative;
  }

  &.form-field--shrink {
    @include breakpoint($tablet) {
      flex: 0 1 auto;
    }
  }
}

@include breakpoint($tablet) {
  @for $i from 1 to 13 {
    .form-field--size-#{$i} {
      flex: 1 0 #{$i/12*100%};
    }
  }
}

.form-field__select-dots {
  z-index: 0;
  position: absolute;
  right: $field-padding-side;
  height: $field-height;
  width: 6px;
  width: 6px;
  background: inline('static/images/dots-vertical.svg') center/6px 27px no-repeat;
}

.form-field__label-bg {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: $label-top $label-left 0.15*$vertical-baseline;
  margin: 0 0.5*$field-padding-side;
  height: $vertical-baseline+ $label-top + $label-bottom;
  background: transparentize(white, 0.05);
  @supports (backdrop-filter: blur(3px) saturate(150%)) {
    background: transparentize(white, 0.2);
    backdrop-filter: blur(3px) saturate(150%);
  }
}
