.sponsor-category {
  h2, h3 {
    text-align: center;
  }
}

.sponsor-category__list {
  list-style: none;
  margin: 0 0 $vertical-baseline;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  > li {
    display: flex;
    justify-content: center;
    flex: 0 1 100%;
    margin-bottom: 2*$vertical-baseline;
  }
  // restrict the height of all images
  .lazy-img {
    max-width: 12*$vertical-baseline;
    max-height: 7*$vertical-baseline;
  }
  .sponsor__link {
    display: block;
    width: 100%;
  }
}

@include breakpoint($tablet) {
  @for $i from 2 to 6 {
    .sponsor-category__list--#{$i}-col {
      li {
        flex: 0 1 #{100% / $i};
      }
    }
  }
}

.sponsor {
  flex: 1;
  text-align: center;
  // padding: 0 0 $vertical-baseline;
  // @include breakpoint($tablet) {
  //   padding: 0 1rem $vertical-baseline;
  // }
  padding: 0 1.5rem;
}

.sponsor__logo {
  // center the logo horizontally
  margin: 0 auto;
}


