include ../nav/nav
include ../menu/menu
mixin header(navOptions)
  //- mobile menu here
  //- main header
  header.site-header
    .site-header__container
      .site-header__section.left
        //- mobile only menu button
        a(href="#" title="Open menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Open menu").site-header__menu-button.site-header__button
          +menu-icon
        //- Logo with home link
        a(href="/" title="Poland 2.0 Home").site-header__brand
          img(src="images/logo.svg", alt="Poland 2.0")
          span Poland 2.0 Summit
        +menu(id="mobile-menu")

      .site-header__section.right
        //- desktop navigation
        nav(role="navigation" aria-label="Desktop navigation").site-nav
          ul
            +nav-item("/about") About PL2.0
            +nav-item("/#speakers") Speakers


mixin nav-item(href)
  - const active = false;
  li: a(href=href): span.site-nav__title(class=active ? "active" : "")
    block

mixin menu-icon
  span.site-header__menu-icon
    span.menu-icon__bar
    span.menu-icon__bar
    span.menu-icon__bar

