$header-background: #FFF;
$header-shadow: 0 1px 2px 0 rgba(1, 1, 1, 0.05);
$header-border: 1px solid rgba(1, 1, 1, 0.12);
$header-height: 3*$vertical-baseline;
$logo-height: 2*$vertical-baseline;
$logo-margin: 0.5*$vertical-baseline;
$menu-open-duration: 500ms;

@mixin menu-icon($width: 28px, $height: 20px, $thickness: 1px, $color: $color-dark) {
  $icon-transition: 200ms cubic-bezier(0.77, 0, 0.175, 1);
  $bar-margin: ($height - 3 * $thickness)/2;
  display: block;
  .menu-icon__bar {
    display: block;
    width: $width;
    height: $thickness;
    &:not(:last-child) {
      margin-bottom: $bar-margin;
    }
    transform-origin: left;
    transform: scale(1);
    transition: transform $icon-transition, background-color $icon-transition;
    
    &:last-child {
      transform: scaleX(0.62);
    }
  }
  @include menu-icon-color($color);
    &::before {
    top: $height/2 - $thickness/2;
  }
  // bottom bar
  &::after {
    
    top: $height - $thickness/2;
  }
}

@mixin menu-icon-color($color) {
  .menu-icon__bar {
    background-color: $color;
  }
}

.site-header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // transform: translate3d(0px,0px,0px);
  // transform: translateZ(0);
}

// given a fixed header, add container padding
main {
  padding-top: $header-height;
}

// styling
.site-header {
  background: $header-background;
  box-shadow: $header-shadow;
  border-bottom: $header-border;
}

.site-header__container {
  max-width: $site-width;
  margin: 0 auto;
  padding: 0 $site-padding;
  display: flex;
  height: $header-height;
  flex-direction: row;
  // flex-wrap: wrap;
  justify-content: space-between;
}

a.site-header__brand {
  z-index: 1000;
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  color: $color-dark;
  position: absolute;
  // centered on mobile
  top: 0;
  left: 50%;
  // to make it easily clickable on mobile
  padding: 0 $site-padding;

  transform: translateX(-50%);
  @include breakpoint($tablet) {
    // on the left on large devices
    position: static;
    transform: initial;
    // remove padding on desktops
    padding: 0;
  }
  img {
    display: inline-block;
    margin: $logo-margin 0;
    height: $logo-height;
  }
  span {
    display: none;
    @include breakpoint($desktop) {
      
      display: inline-block;
      @include sgl-heading(1);
      margin: $vertical-baseline 0;
      margin-left: 12px;
    }
    font-weight: 300;
  }
}

.site-header__section {
  height: $header-height;
}



//pad the buttons to make them easily clickable
.site-header__section {
  .site-header__button {
    position: relative;
    padding-left: $site-padding;
    padding-right: $site-padding;
  }
  &.left {
    .site-header__button {
      left: -$site-padding;
    }
  }
  &.right {
  .site-header__button {
      left: $site-padding;
    }
  }
}

.site-nav {
  z-index: 1000;
  // mobile behavior
  display: none;
  @include breakpoint ($tablet) {
    display: block;
  }
  color: $color-dark;
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    height: $header-height;
  }
  // anchor which underlines on hover
  a {
    text-decoration: none;
    display: inline-block;
    color: $color-dark;
    @include sgl-heading(0);
    margin: $vertical-baseline/2 0px;
    padding: $vertical-baseline/2 10px;
    &:hover {
      .site-nav__title::before {
        max-width: 100%;
      }
    }
    .site-nav__title {
      position: relative;
      // animated underline
      &::before {
        $hover-transition: 125ms cubic-bezier(0.77, 0, 0.175, 1);
        content: '';
        position: absolute;
        bottom: -1px;
        background-color: $color-dark;
        width: 100%;
        height: 1px;
        max-width: 0%;
        transition: max-width $hover-transition;
      }
    }
  }
  .button {
    padding: 1/4*$vertical-baseline $vertical-baseline;
    margin-top: 3/4*$vertical-baseline;
    margin-bottom: 3/4*$vertical-baseline;
  }

  li:not(:first-child) > .button {
    margin-left: $vertical-baseline/2;
  }
}


.site-header__menu-button {
  z-index: 1000;
  $button-width: 28px;
  $button-height: 20px;

  // width: 28px;
  padding: calc(4.5rem / 2 - #{$button-height/2}) 0;
  display: inline-block;
  position: relative;
  @include breakpoint($tablet) {
    display: none;
  }
  .site-header__menu-icon {
    // left: -$button-width/2;
    $width: 28px;
    $height: 20px;
    @include menu-icon;
    // when menu closes
    .menu-icon__bar {
      transition-delay: $menu-open-duration + 0ms, 0ms;
    }
    // when menu opens
    .mobile-menu-open & {
      @include menu-icon-color(white);
      // make the menu hamburger into an X
      .menu-icon__bar {
        transition-delay: $menu-open-duration + 150ms, $menu-open-duration + 0ms;
        &:nth-child(1) {
          transform: translateX(#{($width - $height)/2}) rotate(45deg);
        }
        &:nth-child(2) {
          transform: scaleX(0);
        }
        &:nth-child(3) {
          transform: translateX(#{($width - $height)/2}) rotate(-45deg);
        }
      } 
    }
  }
}


