@media screen and (max-width: 375px) {
  html {
    font-size: 85% !important;
  }
}

.mc-banner {
  bottom: 0;
  top: unset !important;
}

.mc-layout__modalContent {
  overflow: hidden !important;
}
