extends ../../layout/default/default

include ../../layout/nav/nav
include ../../layout/speakers/speakers
include ../../components/card/card

block content
  .past-editions
    h1 Past Editions
    nav(aria-label="Past edition navigation").site-nav
      ul
        each year in years
          +nav-item(`#p${year}`)= year
    each edition in editions
      .edition(id=`p${edition.year}`)
        h2.bold.fat-heading.heading-stripe= edition.name
        +speakersFlat(edition.speakers)
        h3.fat-heading.center Team
        ul.about__team.container: each teamMember in edition.teamMembers
          li
            +team-card(teamMember)