.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // logo and the menu button are z-index 1000
  // menu is placed just below it
  z-index: 999;
  @include breakpoint($tablet) {
    display: none !important;
  }
  
}

.mobile-menu__overlay {
  position: fixed;
  // initial guesstimates
  width: 1000px;
  height: 1000px;
  top: calc(50% - 500px);
  left: calc(50% - 500px);
  transform: translateX(0) translateY(0) scale(0);
  border-radius: 50%;
  background-color: transparentize($color-dark, 0.1);
  -webkit-overflow-scrolling: touch;
}
