mixin menu
  nav(aria-label="Mobile navigation").mobile-menu&attributes(attributes)
    .mobile-menu__overlay
    ul
      each link in navLinks
        +menu-item(link.route, link.key)=link.name

      if contentControl.tickets.live && contentControl.tickets.url
        li: a(href=contentControl.tickets.url).button.button--primary Tickets

mixin menu-item(href, key)
  - const active = key === route;
  li: a(href=href class=active ? "active" : "")
    block
