.agenda {
	max-width: 50rem;
	margin: 0 auto;
	table{
		@include table(odd);
		@include breakpoint(small only) {
			@include table-stack(true);	
		}
			thead {
			display: none;
		}

		tbody {border: none; }
		color: $primary-color;
		
	
		// // td {
		// // 	padding: 3rem 0;
		// // }
		// tr {
			
		// 	&:not(:last-child) {
		// 		border-bottom: 1px solid $medium-gray;
		// 	}
		// }
		// td:not(:last-child) {
		// 	border-right: 1px solid $medium-gray;
		// }
		td:first-child {
			font-weight: bold;

		}
		@include breakpoint(medium) {
			td:first-child {
				width: 10em;
			}
		}
	}
}

$accordion-plusminus: false;
.agenda-container {
	max-width: 50rem;
	margin: 0 auto;
}
.agenda-accordion {
	
	@include accordion-container;
	// border: 0;
	.agenda-accordion-item {
		// transition: box-shadow 0.15s cubic-bezier(0.4, 0, 0.23, 1);
		position: relative;
		// background: white;
		&:active {
			background: $light-gray;
			
		}
		&:hover, &:active {
			.agenda-accordion-title {
			color: $secondary-color;
		}
		}
		&.is-active {
			.open-close-icon {
				transform: rotate(45deg);
			}
			 // box-shadow: 0px 0px 0px 1px $primary-color;
			// z-index: 2;
		}

		
	}
	.agenda-accordion-title {
		@include accordion-title;
		 color: inherit;
		 display: flex;
		 flex-direction: column;
		 @include breakpoint(medium) {
		 	flex-direction: row;
		 }
		 font-size: 0.85rem;
		 > div:first-child {
			margin-bottom: 1em;
			font-weight: bold;
			@include breakpoint(medium) {
				margin-bottom: 0;
				flex: 0 0 160px;
			}
		 }
		 
		 .ev {
		 	margin-right: 1.25rem;
		 	@include breakpoint(medium) {
		 		margin-right: none;
		 	}
		 }
		 .open-close {
			display: block;
			position: absolute;
			right: 1rem;
			top: 50%;
			transform: translateY(-50%);
			.open-close-icon  {
				transition: transform 0.2s cubic-bezier(0.4, 0, 0.23, 1);
				height: 1rem;
				width: 1rem;
				position: relative;
				&::before, &::after {
					content: '';
					display: block;
					position: absolute;
					width: 100%;
					height: 2px;
					background: $primary-color;
					top: calc(50% - 1px);
				} 
				&::before {
					transform: rotate(90deg);
				}
			}
		}
	}
	.agenda-accordion-content {
		font-size: 0.9rem;
		@include accordion-content;
		p {
			margin-bottom: 0.6em;	
		}
	}

}

.accordion-item.empty {
	// pointer-events: none;
	a {
	cursor: default;
}
	.accordion-content {
		display: none !important;
	}
}