.contact {
	a.mailto {
		color: $secondary-color;
		
		&:hover {
			color: darken($secondary-color, 10);
		}
		&:active {
			color: darken($secondary-color, 20);
		}
		&::before {
			content: '\f003';
			margin-right: 0.25em;
		}
	}
	p {
		@include breakpoint(medium) {
		margin-left: 2em;
	}
	}
	h3 {
		font-size: 1.1em;
		@include breakpoint(medium) {
		font-size: 1.25em;
	}
	}

	.contact-frame {
		a.mailto {
			word-break: break-word;
		}
		background: #f2f2f2;
		padding: 0.5em;
		margin-bottom: 2em;
		@include breakpoint(medium) {
			padding: 1em;
		}
		border: 1px solid $medium-gray;
		border-radius: 3px;
		
		@include breakpoint(medium) {
		margin: 0 1em 2em;
	}
	
	}
	input,textarea {
		background:white;
	}

// 	//form restyling
// 	form {

// 	}
// 	.field {
// 		padding-top: 1em;
// 		position: relative;
// 		margin-bottom: 1em;
// 	}
// 	input {
// 			background: 0;
// 			border: 0;
// 			border-radius: 0;
// 			border-bottom: 1px solid $primary-color;
// 			transition: none;
// 			margin-bottom: 2px;
// 			height: 32px;


// 			&:focus {
// 				height: 33px;
// 				transition: none;
// 				margin-bottom: -1px;
// 				border: 0;
// 				border-radius: 0;
// 				border-bottom: 2px solid $secondary-color;

				
// 			}
// 			&:-webkit-autofill {
// 				 -webkit-box-shadow: 0 0 0px 1000px white inset;
// 			}
// 		}
// 	label {
// 		position: absolute;
// 		top: 0;
// 		line-height: 1;
// 	}
}