.footer {
	.mailto::before {
		margin-right: 0.5rem;
	}
	margin-top: 2rem;

	.footer-section {
		padding: 2.5rem 0;
	}
.sponsors.footer-section {
	
	background: $light-gray;
	color: $primary-color;

}

.footer-section.links {
	font-size: 0.7rem;
	background: $primary-color;
	color: $medium-gray;
	.row > div {
		margin-bottom: 1.5em;
	}
}


	.text {
		margin-bottom: $paragraph-margin-bottom;
	}
	a { 
		color: white;
		&:visited {
			color: $dark-gray;
		}
		&:hover {
			color: $medium-gray;
		}
		&:active {
			color: $secondary-color;
		}
	}
	.center {
		text-align: center;
	}
	h5 {
		font-size: 0.9rem;
	}
	.social-media {
		a {
			//border: 2px solid $dark-gray;
			//display: inline-block;
			border-radius: 50%;
			background: $medium-gray;
			color: $primary-color;
			margin-right: 0.6rem;
			padding: 0.4rem;
			height: 2rem;
			width: 2rem;
			font-size: 1.75rem;

			transition: color 100ms ease-in, background 100ms ease-in;
		}
		
		.fb:hover {
			color: white;
			background: #3b5998;
		}
		.tw:hover {
			color: white;
			background: #55acee;
		}

		.ln:hover {
			color: white;
			background: #0077B5;
		}
	}
}


body {
 display: flex;
 flex-direction: column;
 height: 100%;
}
footer, header {
	flex: none;
}
#body {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
}


.footer .sponsor-list {
	display: flex;
	margin: 0 0 1rem;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	.sponsor {
		flex: 0 1 100%;
		text-align: center;
		padding: 1.25rem;
		a {
			display: inline-block;
			// padding: 0.25rem;
		}
		img {
				max-height: 180px;
				
				@include breakpoint(medium) {
					width: initial;
				}
		}

	}
	&.strategic .sponsor {
		img {
			max-height: 200px;
			// width: 400px;
		}
		@include breakpoint(medium) {
			flex: 0 1 50%;
			img {
				max-width: 400px;
			}
		}

	}

	&.regular .sponsor {
		@include breakpoint(medium) {
			flex: 0 1 33%;
		}
	}
}

