.header {
	z-index: 20;
	background: $primary-color;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	letter-spacing: 1px;
	//box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	.social {
		position: absolute;
		top: 50%;
		margin-top: -1.25rem;
		right: 0;
		a:not(:first-child) {
			margin-left: 0.5rem;

		}
		a {
			display: inline-block;

			//height: 2.5rem;
			padding: 0.25rem;
		}
}
.social-mobile {
	width: 100%;
	text-align: center;
	a {
		display: inline-block;
		margin: 1rem;
		padding: 0.5rem;
	}
}
}


#logo-home {
	@include breakpoint(large) {
		position: absolute;
		top: 50%;
		margin-top: -1.5rem;
		//transform: translateX(-3rem);
		transition: transform 0.3s ease-in-out;
	}
}
.logo-small {
	height: 2rem;
	width: auto;
	@include breakpoint(medium) {
		height: 3rem;
	}
}

.top-menu {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 3rem;
	@include breakpoint(medium) {
		height: 4rem;
	}
	//padding: 1rem 0;
	a, a:hover {
		color: white;
	}
}

.nav-collapse, .top-menu {
	a {
		color: white;
		//transition: color 0.1s ease-out;
		text-transform: uppercase;
		&:hover {
			color: $medium-gray;
		}
		&:active {
			color: $secondary-color;
		}
	}
	.active {
		a {
			color: $secondary-color;
		}
	}
}
.nav-collapse {
	font-size: 1.25rem;
	li {
		padding: 0.5rem;
		text-align: center;
	}
}

#nav-desktop {
	//font-size: 1.1rem;
	font-size: 1.15rem;
	@include breakpoint(large) {
		font-size: 1.25rem;
	}
	width: 100%;
	.menu {
		display: flex;
		justify-content: center;
	}
	a {
		//margin: 0 0.5rem;
		//padding: 0.25rem 0;
		@include breakpoint(large) {
		//padding: 0.25rem 0.5rem;
	}
		text-transform: uppercase;

	}
}

#nav-mobile {
	ul {
		display: flex;
		flex-direction: column;
			@include breakpoint(small only) {
		
		@include breakpoint(landscape) {
		flex-flow: row wrap;
		justify-content: center;
		li {
			width: 50%;
		}
	}
	
	}
	//fix - menu exceeds screen bound

	}
}

#nav-toggle {
	position: relative;
	//height: 1.25rem;
	padding: 1rem;
	left: 1rem;

}

.hamburger {
	display: block;
	background: white;
	height: 2px;
	width: 24px;
	margin: 0.5rem 0;
	&::before, &::after {
		content: '';
		display: block;
		background: white;
		height: 2px;
		width: 24px;
		position: absolute;
	}
	&:hover {
		background: $medium-gray;
		&::before, &::after {
			background: $medium-gray;
		}
	}
	&::before {
		transition: transform 0.3s cubic-bezier(0.4,0,0.2,1) 0.25s;
		transform: translateY(0.5rem);
	}
	&::after {
		transition: transform 0.3s cubic-bezier(0.4,0,0.2,1) 0.25s;
		transform: translateY(-0.5rem);
		
	}
	transition: transform 0.3s cubic-bezier(0.4,0,0.2,1) 0.25s;

}

	.js-nav-active .hamburger {
		transform: rotate(90deg);
		&::before {
			transform: translate(-6px, 5.5px) rotate(45deg) scale(0.7, 1);
		}
		&::after {
			transform: translate(-6px, -5.5px) rotate(-45deg) scale(0.7, 1);
		}
	}