.button {
	&.white {
		background-color: $white;
		color: $primary-color;
		&:hover {
			background-color: white;
		}
	}
}

.button.hollow {
	&.secondary, &.primary {
		border-width: 2px;
	}	
	transition: border-color 0.11s ease-out, color 0.11s ease-out, background-color 0.11s ease-out;
 	&.white {
		border-color:white;
		color: white;
		&:hover {
			color: $primary-color;
			background-color: white;
		}
		&:active {
			color: $primary-color;
			background-color: $light-gray;
			border-color: $light-gray;
		}

 	}
 	&.primary {
		border-color: $primary-color;
		 &:focus {
 			color:white;
 			background-color: lighten($primary-color, 20);
 		}
 		&:hover {
 			color: white;
 			background-color: $primary-color;
 		}

 		&:active {
			color: white;
			background-color: lighten($primary-color, 10);
		}
 	}
 	&.secondary {
 		//border-color: $secondary-color;
 		 &:focus {
 			color: lighten($secondary-color,20);
 			//background-color: lighten($secondary-color, 40);
 			border-color: lighten($secondary-color,15);
 		}
 		 &:hover {
 			color: white;
 			background-color: $secondary-color;
 			border-color: $secondary-color;
 		}
 	
 		&:active {
			color: white;
			background-color: lighten($secondary-color, 10);
		}
 	}
}
.spaced-buttons {
	button, a {
	margin-left: 0.75rem;
	}
	a:first-child {
		margin: 0;
	}
}

//large when on medium screen, normal when on small screens
.responsive.button {
	font-size: 1.25rem;
	@include breakpoint(medium) {
			font-size: 1.5rem;
	}
}

.button.grow {
	transition: transform 0.05s cubic-bezier(0.4, 0, 0.23, 1);
	transform: scale(0.98);
	&:hover {
		transform: scale(1);
	}
	&:active {
		transform: scale(0.98);
	}
}

.button.press-down {
	transition: transform 0.1s cubic-bezier(0.4, 0, 0.23, 1);
	&:active {
		transform: translateY(2px);
	}
}

