$check-height: 24px;
$check-width: 12px;

$input-shadow-inner: 0px 3px 1px 0px rgba(0, 0, 0, 0.1) inset;

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; } 
}

@include keyframes(check) {
  0% { height: 0; width: 0; }
  25% { height: 0; width: $check-width; }
  50% { height: $check-height; width: $check-width; }
}

@include keyframes(shake) {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-6px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(6px, 0, 0);
  }
}

#mc_embed_signup {
	flex: 0 1 400px;
}
.newsletter-signup {
	// border: 2px solid $secondary-color;
	margin: 1rem 0;
	display: block;
	background: $light-gray;
	// background:white;
	padding: 1.25rem;
	color: $dark-color;
	// box-shadow:0 3px 6px rgba(0, 0, 0, 0.16) inset, 0 3px 6px rgba(0, 0, 0, 0.23) inset;
	// border: 1px solid $medium-gray;
	border-radius: 3px;
	label {
		display: block;
		margin-bottom: 4px;
		.required {
			font-style: italic;
			// font-size: 0.9em;
			color: $dark-gray;


		}
	}
	.mc-field-group {
		// border-bottom: $secondary-color 1px solid;
		position: relative;
		padding-bottom: 18px;
		margin-bottom: 10px;
	input {
		width: 100%;
		display: block;
		// border: 1px solid $dark-color;
		border: 0;
		// box-shadow: 0px 0px 0px 1px $dark-color;
		box-shadow: $input-shadow-inner, 0px 0px 0px 1px $dark-color;
		border-radius: 5px;
		padding: 0.5rem;
		-webkit-appearance: none;
		&:focus {
			// box-shadow: 0px 0px 0px 2px $primary-color;
			outline: none;
			box-shadow: $input-shadow-inner, 0px 0px 0px 2px $dark-color;
			
			
		}
		&.has-error {
			box-shadow: $input-shadow-inner, 0px 0px 0px 2px $alert-color;
			background: lighten($alert-color, 38%);
		}
	}
	.error-container {
		position: absolute;
		bottom: 0;
		font-size: 12px;
		color: $alert-color;
	}

}
.button {
	// add some features for when processing
	margin: 0;
	width: 210px;
	height: 52px;
	position: relative;
	transition: background 0.1s cubic-bezier(0.55,0,0.1,1);
	// &.unshow {
	// 	transform: scale(0);
	// 	opacity: 0;
	// }
	&.success {
		cursor: default;
		background: $success-color !important;
		opacity: 1;
		transition: background 0.5s cubic-bezier(0.55,0,0.1,1);
		&:hover, &:focus, &:active {
			background: $success-color !important;
		}
	}
	&.error {
		cursor: default;
		background: $alert-color !important;
		transition: background 0.5s cubic-bezier(0.55,0,0.1,1);
		opacity: 1;
		&:hover, &:focus, &:active {
			background: $alert-color !important;
		}

	}
	.text {
		transition: all 0.3s cubic-bezier(0.55,0,0.1,1);
		display: block;
		&.unshow {
			opacity: 0;
			transform: scale(0);
		}
	}
}

.confirmation {
	margin: 1px;
	// transition:  0.3s cubic-bezier(0.55,0,0.1,1);
	// position: absolute;
	// left: 0;
	// right: 0;
	// bottom: 0;
	min-height: 3rem;
	@include breakpoint(medium) {
	min-height: 1.5rem;
}
	// color: $success-color;
}

&.shake {
  animation: 0.7s cubic-bezier(0.55,0,0.1,1) 0s 1 forwards shake;
}

.clear {
	position: relative;
	// padding-bottom: 1.75rem;
}


$base-line-height: 24px;
$white: rgb(255,255,255);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
	will-change: transform;
	display:block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0.3s cubic-bezier(0.55,0,0.1,1);
	&.show {
		transform: translate(-50%, -50%) scale(1);
	}
}
.loader {
	display: block;
    border-radius: 50%;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid $off-white;
    border-top-color: $white;
    animation: spin $spin-duration infinite linear;
  &--double {
    border-style: double;
    border-width: .5rem;
  }
}


.check {
	// background: $success-color;
  display: inline-block;
  height: 1.5rem;
  margin: 0 0.25em;
  width: 1.5rem;
  position: relative;
  &:after {
  	content: '';
  	transform-origin: top left;
  	transform: scaleX(-1) rotate(180deg + -45deg);
  	border-right: 4px solid white;
  border-top: 4px solid white;
      
      // Positioning and stuff
      display: block;
      height: $check-height;
      left: 0px;
      position: absolute;
      top: 13px;
      width: $check-width;
      animation: check 0.8s cubic-bezier(0,0.2,0,1);
  }
}

.error-x {
	display: inline-block;
	position: relative;
	height: 24px;
	width: 24px;
	&:before, &:after {
		content: '';
		position: absolute;
		left: 0;
		top: 8px;
		width: 0; //24px;
		height: 4px;
		background: white;
	}
	&:before {
		transform-origin: left;
		transform: translate(4px, -8px) rotate(45deg);
		animation: draw-cross 0.3s ease-in-out forwards;
	}
	&:after {
		transform-origin: left;
		transform: translate(20px, -8px) rotate(135deg);
		animation: draw-cross 0.3s ease-in-out 0.3s forwards;
	}
}

@include keyframes(draw-cross) {
	from{ width: 0;}
	to {width: 100%;}
}


}




