/**
 * MUI Select Component
 */

$xFormLabelLineHeight: floor($label-font-size * 1.25);



.p20-select {
  display: block;
  padding-top: $xFormLabelLineHeight;
  margin-bottom: $fieldset-margin-bottom;
  position: relative;

  &:focus {
    outline: 0;

    > select {
      height: $input-height + 1px;
      margin-bottom: -1px;
      border-color: $input-border-focus-color;
      border-width: 2px;
    }
  }

  > select {
    @include mui-node-inserted();

    // Layout
    display: block;
    height: $input-height;
    width: 100%;

    // Look and feel
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    border-bottom: 1px solid $input-border-color;
    border-radius: 0px;
    box-shadow: none;
    background-color: $input-background;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNiIgd2lkdGg9IjEwIj48cG9seWdvbiBwb2ludHM9IjAsMCAxMCwwIDUsNiIgc3R5bGU9ImZpbGw6cmdiYSgwLDAsMCwuMjQpOyIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;

    // Typography
    color: $input-color;
    font-size: $input-font-size;
    padding: 0 25px 0 0;

    &::-ms-expand {
      display: none;  // For IE
    }

    &:focus {
      outline: 0;
      height: $input-height + 1px;
      margin-bottom: -1px;
      border-color: $input-border-focus-color;
      border-width: 2px;
    }

    &:disabled {
      color: mui-color('black-alpha-38');
      cursor: $input-cursor-disabled;
      background-color: $input-background-disabled;
      opacity: 1;  // iOS fix for unreadable disabled content
    }
  }

  > label {
    @include form-label();
  }
}

.p20-select:focus > label,
.p20-select > select:focus ~ label {
  color: $input-border-focus-color;
}

.p20-select__menu {
  box-shadow: 0 1px 3px rgba(black, 0.12),
              0 1px 2px rgba(black, 0.24);

  // Positioning
  position: absolute;
  z-index: 2;

  // Display
  min-width: 100%;
  overflow-y: auto;
  padding: 8px 0;

  // Other
  background-color: white;
  font-size: $input-font-size;

  // IE10+ bugfix
  // @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  //   border-left: 1px solid mui-color('black-alpha-12');
  //   border-top: 1px solid mui-color('black-alpha-12');
  // }

  > div {
    padding: 0 22px;
    height: $input-font-size + rem-calc(26px);
    line-height: $input-font-size + rem-calc(26px);
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      background-color: mui-color('grey', '300');
    }

    &.mui--is-selected {
      background-color: mui-color('grey', '200');
    }
  }
}
