mixin blurBackground(radius):
  svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink").
    <defs>
      <filter id="backdrop-filter-blur" x="0" y="0" width="100%" height="100%">
        <!-- can't use xlink:href="#image": no support in FF -->
        <!-- blur image -->
        <feGaussianBlur stdDeviation="3" />
        <!-- improve blur at the edges -->
        <feComponentTransfer result="blur">
          <feFuncA type="discrete" tableValues="1 1"/>
        </feComponentTransfer>
        <!-- increase opacity of sourceGraphic -->
        <feComponentTransfer in="SourceGraphic" result="source">
          <feFuncA type="linear" slope="2" intercept="0"/>
        </feComponentTransfer>
        <!-- Clip blur based on source -->
        <feComposite operator="in" in="blur" in2="source" />
        <!-- Merge -->
        <feMerge>
          <feMergeNode  />
          <feMergeNode in="SourceGraphic" />
        </feMerge>
      </filter>
    </defs>
