mixin printLocalsSchema(obj)
  pre(style='white-space: pre-wrap')
    div(style='height: 1px; background: black; width: 100%')
    code
      h2 Available locals
    code= JSON.stringify(obj, null, 2)
